<div class="row">
  <aside class="profile-nav col-lg-12">
      <section class="panel">
          <div class="user-heading round">
              <a href="#">
                  <% if @account.logo.exists? %>
                    <%= image_tag @account.logo.url %>
                  <% else %>
                    <%= image_tag "/assets/avatar.png" %>
                  <% end %>
              </a>
              <h1><%= @account.name %></h1>
              <p><%= @account.email %></p>
          </div>
          <br>
          <ul class="nav nav-pills nav-stacked">
          <% if current_user.is_admin %>    
              <li><button class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#edit-account"> <i class="fa fa-edit"></i> Edit Account</a></li>
          <% end %>
          </ul>
          <br>

          <div>
            <div class="row state-overview">
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol terques">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="value">
                            <h1 class="count">
                                <%= Farmer.count || 0 %>
                            </h1>
                            <p><%= link_to "Farmers", farmers_path %></p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol red">
                            <i class="fa fa-tags"></i>
                        </div>
                        <div class="value">
                            <h1 class=" count2">
                                <%= Delivery.pluck("quantity").inject(:+) || 0 %>
                            </h1>
                            <p><%= link_to "Litres Delivered", deliveries_path %></p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol yellow">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="value">
                            <h1 class=" count3">
                                <%= Delivery.where(paid_for: true).pluck("total").inject(:+) || 0 %>
                            </h1>
                            <p><%= link_to "Total Paid Out", payments_path %></p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol blue">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="value">
                            <h1 class=" count4">
                                <%= Delivery.where(paid_for: false).pluck("total").inject(:+) || 0 %>
                            </h1>
                            <p><%= link_to "Total Pending", payments_path %></p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol yellow">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="value">
                            <h1 class=" count5">
                                <%= @account.users.count || 0 %>
                            </h1>
                            <p><%= link_to "Users", users_path %></p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol blue">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="value">
                            <h1 class=" count6">
                                <%= 30000 %>
                            </h1>
                            <p>Account Balance</p>
                        </div>
                    </section>
                </div>
            </div>
          </div>

          <br>
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">Acount Details</h3>
              </div>
              <div class="panel-body well list-group">
                <p class="list-group-item">
                <strong>Name:</strong>
                <%= @account.name %>
              </p>

              <p class="list-group-item">
                <strong>Email:</strong>
                <%= @account.email %>
              </p>

              <!-- <p class="list-group-item">
                <strong>JamboPay Username:</strong>
                <%= @account.jp_user %>
              </p>

              <p class="list-group-item">
                <strong>JamboPay Password:</strong>
                <%= @account.jp_pass %>
              </p>

              <p class="list-group-item">
                <strong>JamboPay email:</strong>
                <%= @account.jp_email %>
              </p> -->
              </div>
          </div>
          <br>
          <br>

      </section>
  </aside>
</div>

<div class="modal fade" id="edit-account" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title" id="myModalLabel">Edit Account</h4>
            </div>
            <div class="modal-body">
              <%= form_for(@account, :html => { :role => 'form' }) do |f| %>
                  <div class="form-group">
                    <%= f.label :name, "Name of Company" %>
                    <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :email %>
                    <%= f.email_field :email, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :jp_user, "JamboPay Username" %>
                    <%= f.text_field :jp_user, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :jp_pass, "JamboPay Password" %>
                    <%= f.text_field :jp_pass, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :jp_email, "JamboPay Email" %>
                    <%= f.text_field :jp_email, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :logo %>
                    <%= f.file_field :logo %>
                  </div>
                   <%= f.submit 'Update Account', :class => 'btn btn-lg btn-success' %>
              <% end %>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>

