
<!--state overview start-->
<div class="row state-overview">
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol terques">
                <i class="fa fa-user"></i>
            </div>
            <div class="value">
                <h1 class="count">
                    <%= Farmer.count %>
                </h1>
                <p><%= link_to "Farmers", farmers_path %></p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol red">
                <i class="fa fa-tags"></i>
            </div>
            <div class="value">
                <h1 class=" count2">
                    <%= Delivery.pluck("quantity").inject(:+) %>
                </h1>
                <p><%= link_to "Litres Delivered", deliveries_path %></p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol yellow">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="value">
                <h1 class=" count3">
                    <%= Delivery.where(paid_for: true).pluck("total").inject(:+) %>
                </h1>
                <p><%= link_to "Total Paid Out", "#{payments_path}#paymentsMade" %></p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol blue">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="value">
                <h1 class=" count4">
                    <%= Delivery.where(paid_for: false).pluck("total").inject(:+) %>
                </h1>
                <%= link_to "Total Pending", "#{payments_path}#pendingPayments" %>
            </div>
        </section>
    </div>
</div>
<!--state overview end-->

        <!--custom chart end-->
        
    </div>
</div>