<div class="row">
                  <aside class="profile-nav col-lg-3">
                      <section class="panel">
                          <div class="user-heading round">
                              <a href="#">
                                  <%= image_tag current_user.profile_pic.url %>
                              </a>
                              <h1><%= @user.name %></h1>
                              <p><%= @user.email %></p>
                          </div>

                          <ul class="nav nav-pills nav-stacked">
                              <li><a href="<%= edit_user_registration_path %>"> <i class="fa fa-edit"></i> Edit profile</a></li>
                          </ul>

                      </section>
                
              <div class="panel-group" id="accordion">
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      	Deliveries Recorded
                        <span class="badge"><%= @user.deliveries_recorded %></span>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <%= render 'users/deliveries' %>
                    </div>
                  </div>
                </div>
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Farmers Registered
                        <span class="badge"><%= @user.farmers_registered %></span>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      <%= render 'users/farmers' %>
                    </div>
                  </div>
                </div>
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        Payments Authorized
                        <span class="badge"><%= @user.payments_authorized %></span>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      <%= render 'users/payments' %>
                    </div>
                  </div>
                </div>
              </div>

              <script type="text/javascript">
              /* Formating function for row details */
              function fnFormatDetails ( oTable, nTr )
              {
              var aData = oTable.fnGetData( nTr );
              var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
              sOut += '<tr><td>Rendering engine:</td><td>'+aData[1]+' '+aData[4]+'</td></tr>';
              sOut += '<tr><td>Link to source:</td><td>Could provide a link here</td></tr>';
              sOut += '<tr><td>Extra info:</td><td>And any further details here (images etc)</td></tr>';
              sOut += '</table>';

              return sOut;
              }

                  $(document).ready(function() {
                      /*
                       * Insert a 'details' column to the table
                       */
                      // var nCloneTh = document.createElement( 'th' );
                      // var nCloneTd = document.createElement( 'td' );
                      // nCloneTd.innerHTML = '<%= image_tag("/assets/details_open.png") %>';
                      // nCloneTd.className = "center";

                      // $('#hidden-table-info thead tr').each( function () {
                      //     this.insertBefore( nCloneTh, this.childNodes[0] );
                      // } );

                      // $('#hidden-table-info tbody tr').each( function () {
                      //     this.insertBefore(  nCloneTd.cloneNode( true ), this.childNodes[0] );
                      // } );

                      /*
                       * Initialse DataTables, with no sorting on the 'details' column
                       */
                      var oTable = $('#hidden-table-info').dataTable( {
                          "aoColumnDefs": [
                              { "bSortable": false, "aTargets": [ 0 ] }
                          ],
                          "aaSorting": [[1, 'asc']]
                      });

                      /* Add event listener for opening and closing details
                       * Note that the indicator for showing which row is open is not controlled by DataTables,
                       * rather it is done here
                       */
                      $('#hidden-table-info tbody td img').live('click', function () {
                          var nTr = $(this).parents('tr')[0];
                          if ( oTable.fnIsOpen(nTr) )
                          {
                              /* This row is already open - close it */
                              this.src = '<%= image_tag("/assets/details_open.png") %>';
                              oTable.fnClose( nTr );
                          }
                          else
                          {
                              /* Open this row */
                              this.src = '<%= image_tag("/assets/details_close.png") %>';
                              oTable.fnOpen( nTr, fnFormatDetails(oTable, nTr), 'details' );
                          }
                      } );
                  } );
              // </script>