<div class="login-body">
    <div class="container" style="margin-left: 35%;">
      <div class="authform" style="margin-bottom: 5%; margin-right: -15%; margin-top: 3%;">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form', class: "form-signin"}) do |f| %>
    <h2 class="form-signin-heading">Forgot your password?</h2>
    <%= devise_error_messages! %>
    <div class="login-wrap">
    <p>We'll send password reset instructions.</p>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
     <%= f.submit 'Reset Password', :class => 'btn btn-lg btn-login btn-block' %>
     </div>
  <% end %>
</div>
</div>
</div>
