<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @commodity.name %>
</p>

<p>
  <strong>Commodity type:</strong>
  <%= @commodity.commodity_type %>
</p>

<p>
  <strong>Units:</strong>
  <%= @commodity.units %>
</p>

<%= link_to 'Edit', edit_commodity_path(@commodity) %> |
<%= link_to 'Back', commodities_path %>
