<div class="login-body">
    <div class="container" style="margin-left: 35%;">
      <div class="authform" style="margin-bottom: 5%; margin-right: -15%; margin-top: 3%;">
        <%= form_for(@account, :html => { :role => 'form', class: "form-signin"}) do |f| %>
          <h2 class="form-signin-heading">Account SetUp</h2>
          <div class="login-wrap">
            <div class="form-group">
              <%= f.label :name, "Name of Company" %>
              <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
            <!-- <div class="form-group">
              <%= f.label :jp_user, "JamboPay Username" %>
              <%= f.text_field :jp_user, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :jp_pass, "JamboPay Password" %>
              <%= f.text_field :jp_pass, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :jp_email, "JamboPay Email" %>
              <%= f.text_field :jp_email, class: 'form-control' %>
            </div> -->
            <div class="form-group">
              <%= f.label :logo %>
              <%= f.file_field :logo %>
            </div>
             <%= f.submit 'Set up Account', :class => 'btn btn-lg btn-login btn-block' %>
           </div>
        <% end %>
      </div>
    </div>
</div>